form {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: auto;
  padding: 30px;
  opacity: 97%;
  margin-top: 20px;
  overflow: auto;
  height: 500px;
}

.pageContainer {
  background-color: #b0c0cc;
  padding: 30px;
  opacity: 94%;
}

.card {
  margin-top: 30px;
  border-radius: 20px;
  padding: 5px;
  background-color: white;
}

h2 {
  margin-bottom: 20px;
  margin-top: 50px;
}

button {
  margin-top: 25px;
  font-weight: bold;
  font-size: 17px;
  width: 100%;
  max-width: 105px;
  margin-right: 16px;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-left: 7px;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: white;
}

.container {
  padding: 16px;
}

.modal {
  padding: 20px;
  display: block;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#formGroupMembers {
  max-width: 600px;
  font-size: 18px;
  border-radius: 20px;
  background-color: #b0c0cc;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  margin: auto;
}

.createGroupForm {
  height: fit-content;
}

input {
  height: 37px;
  width: 94%;
  font-size: 19px;
  border-radius: 20px;
  padding: 15px;
}
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
